.claude/
.clinerules
.env
.idea
.vscode
.DS_Store
__pycache__
compiled/*/*.json
dbt_packages/
/logs/
macros/default_translations.sql
models/surveys/
target/
package-lock.yml
report_translations_standard.xlsx
.user.yml
uv.lock
.temp/